{
  "semi": false,
  "singleQuote": true,
  "plugins": ["@homer0/prettier-plugin-jsdoc"],
  "jsdocAllowDescriptionOnNewLinesForTags": ["remarks"],
  "jsdocTagsOrder": [
    "type",
    "typedef",
    "callback",
    "function",
    "method",
    "class",
    "file",
    "constant",
    "description",
    "remarks",
    "classdesc",
    "param",
    "property",
    "returns",
    "template",
    "augments",
    "extends",
    "throws",
    "yields",
    "fires",
    "listens",
    "async",
    "abstract",
    "override",
    "private",
    "protected",
    "public",
    "access",
    "desprecated",
    "author",
    "version",
    "since",
    "member",
    "memberof",
    "category",
    "external",
    "see",
    "example",
    "other",
    "todo"
  ]
}
